* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Open Sans";
}

body {
  margin: 0 auto;
  cursor: default;
  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    width: 980px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 630px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 410px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}

.d-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.hero-banner-btn,
.products-btn {
  height: 50px;
  width: 150px;
  background-color: #df3636;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  border-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .hero-banner-btn,
  .products-btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .hero-banner-btn,
  .products-btn {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}

.back-btn,
.nav-right-btn,
.nav-left-btn {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: rgba(223, 54, 54, 0.8);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-style: none;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 640px) {
  .back-btn,
  .nav-right-btn,
  .nav-left-btn {
    height: 30px;
    width: 30px;
  }
}

.back-btn {
  bottom: 10%;
  right: 2%;
}

.nav-right-btn {
  bottom: 50%;
  bottom: 30%;
  right: 2%;
}

.nav-left-btn {
  bottom: 50%;
  bottom: 30%;
  left: 2%;
}

.header-container-top {
  background-color: #1b1b1b;
  height: 150px;
}

@media (max-width: 768px) {
  .header-container-top {
    height: 100px;
  }
}

.header-container-top .header-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-top .header-container-content .page-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

@media (max-width: 768px) {
  .header-container-top .header-container-content .page-logo {
    padding: 30px 0;
  }
}

.header-container-top .header-container-content .page-logo .page-logo-image {
  height: 80px;
  width: 160px;
  background-image: url("../logo/logo-male.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 20px inset #1b1b1b;
          box-shadow: 0px 0px 20px inset #1b1b1b;
  border-radius: 45%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header-container-top .header-container-content .page-logo .page-logo-image {
    height: 40px;
  }
}

.header-container-top .header-container-content .page-logo h1.page-logo-text {
  font-size: 36px;
  letter-spacing: 1px;
  color: #fefefe;
  font-family: "Oswald";
}

@media (max-width: 1280px) {
  .header-container-top .header-container-content .page-logo h1.page-logo-text {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .header-container-top .header-container-content .page-logo h1.page-logo-text {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .header-container-top .header-container-content .page-logo h1.page-logo-text {
    font-size: 16px;
  }
}

.header-container-top .header-container-content .header-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #fefefe;
}

.header-container-top .header-container-content .header-info-container i {
  font-size: 28px;
  color: #df3636;
}

.header-container-top .header-container-content .header-info-container .fb-item,
.header-container-top .header-container-content .header-info-container .olx-item {
  margin-right: 20px;
}

.header-container-top .header-container-content .header-info-container span {
  font-size: 14px;
  color: #fefefe;
  margin: 0 20px;
}

.header-container-top .header-container-content .header-info-container a {
  font-family: 'Oswald', sans-serif;
  color: #df3636;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .header-container-top .header-container-content .header-info-container i {
    font-size: 20px;
  }
  .header-container-top .header-container-content .header-info-container span {
    font-size: 12px;
  }
  .header-container-top .header-container-content .header-info-container a {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .header-container-top .header-container-content .header-info-container div:nth-child(1) {
    display: none;
  }
}

@media (max-width: 640px) {
  .header-container-top .header-container-content .header-info-container {
    display: none;
  }
}

.header-container-top .header-container-content .hamburger-item {
  display: none;
  color: #df3636;
  font-size: 28px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1024px) {
  .header-container-top .header-container-content .hamburger-item {
    display: block;
  }
}

@media (max-width: 640px) {
  .header-container-top .header-container-content .hamburger-item {
    font-size: 20px;
  }
}

.header-container-top .header-container-content .hamburger-item:hover {
  -webkit-filter: drop-shadow(0 0 14px #df3636);
          filter: drop-shadow(0 0 14px #df3636);
  color: #fff;
}

@media (max-width: 1024px) {
  .header-container-top .header-container-content .header-info-container {
    display: none;
  }
}

.header-container-top .header-container-content .hamburger-item {
  display: none;
  color: #df3636;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-container-top .header-container-content .hamburger-item:hover {
  -webkit-filter: drop-shadow(0 0 14px #df3636);
          filter: drop-shadow(0 0 14px #df3636);
  color: #fff;
}

@media (max-width: 1024px) {
  .header-container-top .header-container-content .hamburger-item {
    display: block;
  }
}

.header-container-bottom {
  background-color: #282828;
  border-top: 1px solid #333;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-container-bottom ul li {
  padding: 25px 50px 25px 0px;
}

@media (max-width: 1024px) {
  .header-container-bottom ul li {
    text-align: center;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .header-container-bottom ul li {
    padding: 15px 30px 15px 0;
  }
}

@media (max-width: 480px) {
  .header-container-bottom ul li {
    line-height: 80%;
  }
}

.header-container-bottom ul li a {
  font-size: 14px;
  color: #fefefe;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 1280px) {
  .header-container-bottom ul li a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-container-bottom ul li a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header-container-bottom ul li a {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {
  .header-container-bottom ul li a {
    font-size: 12px;
  }
}

.header-container-bottom ul li .menu-active {
  color: #df3636;
}

.header-container-bottom ul .li-primary:hover > a {
  color: #df3636;
}

@media (max-width: 1024px) {
  .header-container-bottom {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    z-index: 4;
    -webkit-filter: opacity(0.95);
            filter: opacity(0.95);
  }
  .header-container-bottom ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.active {
  left: 0;
}

.breadcrumbs {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.breadcrumbs .breadcrumbs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.breadcrumbs .breadcrumbs-content h3 {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .breadcrumbs .breadcrumbs-content h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs .breadcrumbs-content h3 {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .breadcrumbs .breadcrumbs-content h3 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs .breadcrumbs-content h3 {
    font-size: 14px;
  }
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container {
  background-color: #ededed;
  width: 100%;
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1a1919;
  padding: 20px 0;
}

@media (max-width: 1024px) {
  .breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header {
    padding: 10px 0;
  }
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary {
    font-size: 10px;
  }
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary li a {
  color: #1a1919;
  text-transform: lowercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary li a:hover {
  color: #df3636;
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary li:after {
  content: "|";
  margin: 0 5px;
  color: #df3636;
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary li:last-child:after {
  content: "";
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary .menu-active {
  color: #df3636;
}

.breadcrumbs .breadcrumbs-content .breadcrumbs-header-container .breadcrumbs-header .nav-secondary li:hover {
  color: #df3636;
}

.banner-area {
  height: 865px;
  background-image: url("../image/bmw2.jpg");
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1280px) {
  .banner-area {
    height: 580px;
  }
}

@media (max-width: 1024px) {
  .banner-area {
    height: 410px;
  }
}

@media (max-width: 768px) {
  .banner-area {
    height: 300px;
  }
}

.banner-area img {
  height: 100%;
}

.banner-area .hero-banner-text-container {
  position: relative;
  width: 45%;
  padding-top: 10%;
}

.banner-area .hero-banner-text-container .hero-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 53px;
  letter-spacing: 2px;
  font-family: "Oswald";
  font-weight: 700;
  color: #fff;
}

@media (max-width: 1280px) {
  .banner-area .hero-banner-text-container .hero-banner-text {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .banner-area .hero-banner-text-container .hero-banner-text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .banner-area .hero-banner-text-container .hero-banner-text {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .banner-area .hero-banner-text-container .hero-banner-text {
    font-size: 16px;
  }
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-product-name {
  color: #fff;
}

.banner-area .hero-banner-text-container .hero-banner-text span {
  color: #df3636;
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-text-description {
  padding: 0 200px 20px 0;
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-text-description span {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  font-family: "Oswald";
  font-weight: 400;
  color: #fff;
}

.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-title .section-title-wrap {
  padding: 50px 0;
}

@media (max-width: 640px) {
  .row-title .section-title-wrap {
    padding: 30px 0;
  }
}

.row-title .section-title-wrap h2 {
  font-size: 32px;
  color: #232323;
  font-family: "Oswald";
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .row-title .section-title-wrap h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .row-title .section-title-wrap h2 {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .row-title .section-title-wrap h2 {
    font-size: 20px;
  }
}

.row-title .section-title-wrap h3 {
  font-size: 18px;
  letter-spacing: 7px;
  color: #737373;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .row-title .section-title-wrap h3 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .row-title .section-title-wrap h3 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .row-title .section-title-wrap h3 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .row-title .section-title-wrap h3 {
    font-size: 10px;
  }
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.box-container .products-btn {
  margin-top: 20px;
}

.box-container .products-btn a {
  color: #fff;
  text-decoration: none;
}

.box-container .box-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.box-container .box-products .products-container {
  padding: 10px;
}

.box-container .box-products .products-container .product-image {
  position: relative;
  width: 270px;
  height: 195px;
  cursor: pointer;
}

.box-container .box-products .products-container .product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.box-container .box-products .products-container .product-image img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 2px 8px 16px black;
          box-shadow: 2px 8px 16px black;
}

.box-container .box-products .products-container .product-image .product-image-price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: #fff;
  height: 47px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-left: 0px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 47px solid rgba(223, 54, 54, 0.8);
}

@media (max-width: 640px) {
  .box-container .box-products .products-container .product-image .product-image-price {
    font-size: 16px;
  }
}

.box-container .box-products .products-container .product-image .product-image-price span {
  line-height: 47px;
  padding-left: 20px;
}

.box-container .product-title {
  font-size: 14px;
  color: #1d1d1d;
  padding: 20px 0;
}

@media (max-width: 480px) {
  .box-container .product-title {
    font-size: 12px;
  }
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .service-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service-container .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 585px;
  padding: 30px;
}

@media (max-width: 1024px) {
  .service-container .service-content {
    width: 80vw;
    text-align: center;
  }
}

.service-container .service-content p {
  padding-top: 20px;
  line-height: 28px;
  color: #555555;
  font-style: italic;
}

@media (max-width: 768px) {
  .service-container .service-content p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .service-container .service-content p {
    font-size: 13px;
    line-height: 16px;
  }
}

.service-container .service-content h3 {
  font-size: 30px;
  line-height: 36px;
  color: #df3636;
  font-family: "Oswald";
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .service-container .service-content h3 {
    text-align: center;
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .service-container .service-content h3 {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .service-container .service-content h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

.service-container .service-img {
  padding: 30px;
  width: 585px;
}

@media (max-width: 1024px) {
  .service-container .service-img {
    width: 60vw;
    padding: 0;
  }
}

.service-container .service-img img {
  width: 100%;
  -webkit-box-shadow: 2px 8px 16px black;
          box-shadow: 2px 8px 16px black;
}

.s4-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .s4-box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.s4-box-container .s4-box {
  width: 585px;
}

@media (max-width: 1280px) {
  .s4-box-container .s4-box {
    width: 479px;
  }
}

@media (max-width: 1024px) {
  .s4-box-container .s4-box {
    width: 60vw;
  }
}

.s4-box-container .s4-box img {
  width: 100%;
  -webkit-box-shadow: 2px 8px 16px black;
          box-shadow: 2px 8px 16px black;
}

.s4-box-container .s4-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

@media (max-width: 1024px) {
  .s4-box-container .s4-box-text {
    padding: 30px 0;
  }
}

.s4-box-container .s4-box-text h3 {
  font-size: 35px;
  letter-spacing: 1px;
  color: #1a1919;
  font-family: "Oswald";
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .s4-box-container .s4-box-text h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .s4-box-container .s4-box-text h3 {
    font-size: 24px;
  }
}

.s4-box-container .s4-box-text p {
  font-size: 14px;
  line-height: 24px;
  color: #1a1919;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
}

.s5 .box-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald";
  letter-spacing: 1px;
  color: #fff;
  padding: 100px 0;
}

@media (max-width: 1024px) {
  .s5 .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 640px) {
  .s5 .box-container {
    padding: 50px 0;
  }
}

.s5 .box-container .s5-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s5 .box-container .s5-box-left,
.s5 .box-container .s5-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #df3636;
  margin: 20px;
  padding: 50px;
}

.s5 .box-container .s5-box-left i,
.s5 .box-container .s5-box-right i {
  font-size: 36px;
}

.s5 .box-container .s5-box-left h3,
.s5 .box-container .s5-box-right h3 {
  font-size: 22px;
  padding: 20px 0 20px 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.s5 .box-container .s5-box-left p,
.s5 .box-container .s5-box-right p {
  font-size: 14px;
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .s5 .box-container .s5-box-left,
  .s5 .box-container .s5-box-right {
    margin: 20px 50px;
    padding: 40px;
  }
  .s5 .box-container .s5-box-left i,
  .s5 .box-container .s5-box-right i {
    font-size: 30px;
  }
  .s5 .box-container .s5-box-left h3,
  .s5 .box-container .s5-box-right h3 {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .s5 .box-container .s5-box-left,
  .s5 .box-container .s5-box-right {
    margin: 20px 0px;
    padding: 30px;
  }
  .s5 .box-container .s5-box-left i,
  .s5 .box-container .s5-box-right i {
    font-size: 24px;
  }
  .s5 .box-container .s5-box-left h3,
  .s5 .box-container .s5-box-right h3 {
    font-size: 18px;
  }
  .s5 .box-container .s5-box-left p,
  .s5 .box-container .s5-box-right p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .s5 .box-container .s5-box-left,
  .s5 .box-container .s5-box-right {
    margin: 10px 10px;
    padding: 20px;
  }
  .s5 .box-container .s5-box-left i,
  .s5 .box-container .s5-box-right i {
    font-size: 20px;
  }
  .s5 .box-container .s5-box-left h3,
  .s5 .box-container .s5-box-right h3 {
    font-size: 16px;
  }
  .s5 .box-container .s5-box-left p,
  .s5 .box-container .s5-box-right p {
    font-size: 10px;
  }
}

.s5 .box-container .s5-box-right {
  background-color: #1a1a1a;
}

.info-main-container {
  margin-top: 50px;
}

.info-main-container .info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .info-main-container .info-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}

.info-main-container .info-main .info-box-text {
  border-left: 3px solid #df3636;
  margin-bottom: 40px;
  padding-left: 30px;
  font-size: 16px;
  color: #343434;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-box-text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-box-text {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-box-text {
    font-size: 9px;
  }
}

.info-main-container .info-main .info-box-text h2 {
  font-size: 30px;
  color: #1d1d1d;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-box-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-box-text h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-box-text h2 {
    font-size: 15px;
  }
}

.info-main-container .info-main .info-box-text span {
  margin-right: 5px;
}

.info-main-container .info-main .info-box-text span:nth-child(2),
.info-main-container .info-main .info-box-text span:nth-child(4) {
  font-weight: 600;
}

.info-main-container .info-main .info-box-text span.text-separator:before {
  content: '|';
  color: #df3636;
  margin-right: 10px;
}

.info-main-container .info-main .info-main-img-container {
  width: 860px;
}

@media (max-width: 1280px) {
  .info-main-container .info-main .info-main-img-container {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-main-img-container {
    width: 600px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-main-img-container {
    width: 410px;
  }
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-main-img-container {
    width: 310px;
  }
}

.info-main-container .info-main .info-main-img-container img {
  width: 100%;
}

.info-main-container .info-main .info-main-img-container .box-mini-container {
  position: relative;
  margin: 30px 0 50px 0;
  overflow: hidden;
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container {
    margin: 10px 0 20px 0;
  }
}

.info-main-container .info-main .info-main-img-container .box-mini-container .mini-arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(90, 90, 90, 0.4);
  padding: 15px 5px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container .mini-arrows {
    padding: 10px 5px;
  }
}

.info-main-container .info-main .info-main-img-container .box-mini-container .mini-arrows:hover {
  background-color: #df3636;
  color: #ffffff;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.info-main-container .info-main .info-main-img-container .box-mini-container .arrow-left {
  left: 0;
}

.info-main-container .info-main .info-main-img-container .box-mini-container .arrow-right {
  right: 0;
}

.info-main-container .info-main .info-main-img-container .box-mini-container i {
  font-size: 34px;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container i {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container i {
    font-size: 18px;
  }
}

.info-main-container .info-main .info-main-img-container .box-mini-container .box-mini {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.info-main-container .info-main .info-main-img-container .box-mini-container .box-mini img.img-mini {
  width: 195px;
  background-color: #e2e2e2;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container .box-mini img.img-mini {
    width: 130px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container .box-mini img.img-mini {
    width: 92px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-main-img-container .box-mini-container .box-mini img.img-mini {
    width: 67px;
  }
}

.info-main-container .info-main .info-main-img-container .box-mini-container .box-mini img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.info-main-container .info-main .info-data .info-price {
  background-color: #df3636;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding: 11px 0;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-data .info-price {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-data .info-price {
    font-size: 16px;
  }
}

.info-main-container .info-main .info-data .info-table-container {
  width: 270px;
  background-color: #e2e2e2;
  padding: 20px;
}

.info-main-container .info-main .info-data .info-table-container h3 {
  font-family: "Oswald";
  font-size: 30px;
  text-align: center;
  color: #004794;
  margin-bottom: 30px;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-data .info-table-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-data .info-table-container h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .info-main-container .info-main .info-data .info-table-container h3 {
    font-size: 18px;
  }
}

.info-main-container .info-main .info-data .info-table-container .data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-main-container .info-main .info-data .info-table-container .data-table .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #d5d5d5;
}

.info-main-container .info-main .info-data .info-table-container .data-table span {
  width: 60%;
  padding: 15px 0;
  font-size: 14px;
  color: #5a5a5a;
}

@media (max-width: 1024px) {
  .info-main-container .info-main .info-data .info-table-container .data-table span {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 640px) {
  .info-main-container .info-main .info-data .info-table-container .data-table span {
    font-size: 10px;
    padding: 5px;
  }
}

.info-main-container .info-main .info-data .info-table-container .data-table span::first-letter {
  text-transform: capitalize;
}

.info-main-container .info-main .info-data .info-table-container .data-table span:nth-child(2) {
  width: 25%;
}

.info-main-container .info-main .info-data .info-table-container .data-table .table-row:last-child {
  border: none;
}

.info-details .info-text {
  width: 620px;
  margin: 0 auto;
  padding: 0 0 50px;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
  color: #262626;
}

@media (max-width: 1024px) {
  .info-details .info-text {
    width: 500px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 640px) {
  .info-details .info-text {
    width: 380px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .info-details .info-text {
    width: 250px;
    font-size: 12px;
    line-height: 18px;
  }
}

.info-details .info-text li {
  list-style: initial;
}

.info-details .documentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 24px;
  color: #313131;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .info-details .documentation {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .info-details .documentation {
    font-size: 11px;
    line-height: 16px;
  }
}

.info-details .documentation thead {
  background-color: #df3636;
  color: #ffffff;
}

.info-details .documentation td {
  padding-left: 20px;
}

.info-details .documentation td::first-letter {
  text-transform: capitalize;
}

.info-footer {
  width: 100%;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 18px;
  color: #262626;
  line-height: 30px;
  font-weight: 600;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  .info-footer {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 640px) {
  .info-footer {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .info-footer {
    font-size: 12px;
    line-height: 20px;
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .info-footer {
    font-size: 10px;
    line-height: 16px;
  }
}

.footer-container {
  width: 100%;
  background-color: #040404;
}

.footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .footer-container .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-container .footer-content {
    font-size: 10px;
  }
}

.footer-container .footer-content span {
  color: #ffffff;
}

.footer-container .footer-content span span {
  color: #df3636;
}

@media (max-width: 1024px) {
  .footer-container .footer-content ul {
    display: none;
  }
}

.footer-container .footer-content ul li {
  padding-left: 50px;
}

.footer-container .footer-content ul li a {
  color: #ffffff;
  text-transform: lowercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-container .footer-content ul li .menu-active {
  color: #df3636;
}

.footer-container .footer-content ul li a:hover {
  color: #df3636;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  margin: 0 20%;
}

.contact-container h3 {
  line-height: 36px;
  color: #3e3e3e;
  font-family: "Oswald";
  font-weight: 700;
}

.contact-container p {
  font-size: 14px;
  color: #a1a1a1;
  line-height: 24px;
}

.contact-container a {
  font-family: 'Oswald', sans-serif;
  color: #df3636;
  font-size: 24px;
  font-weight: bold;
}

.contact-container i {
  font-size: 32px;
  margin-right: 20px;
  color: #df3636;
}

@media (max-width: 1024px) {
  .contact-container {
    margin: 0 10%;
  }
}

@media (max-width: 768px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 5%;
  }
  .contact-container div {
    width: 45%;
    text-align: center;
    padding-bottom: 20px;
  }
  .contact-container p {
    font-size: 12px;
    line-height: 18px;
  }
  .contact-container a {
    font-size: 20px;
  }
  .contact-container i {
    font-size: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .contact-container h3 {
    font-size: 16px;
  }
  .contact-container p {
    font-size: 10px;
    line-height: 14px;
  }
  .contact-container a {
    font-size: 18px;
  }
  .contact-container i {
    font-size: 20px;
  }
}

.rent-content p {
  padding-top: 20px;
  line-height: 28px;
  color: #555555;
  font-style: italic;
  text-align: center;
  padding-bottom: 50px;
}

.rent-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent-image-container img {
  width: 460px;
  height: 360px;
  padding: 30px;
  margin: 20px;
  -webkit-box-shadow: 2px 8px 16px black;
          box-shadow: 2px 8px 16px black;
}

@media (max-width: 1280px) {
  .rent-image-container img {
    width: 400px;
    height: 315px;
  }
}

@media (max-width: 1024px) {
  .rent-image-container img {
    width: 288px;
    height: 231px;
  }
}

@media (max-width: 768px) {
  .rent-image-container img {
    width: 480px;
    height: 375px;
  }
}

@media (max-width: 640px) {
  .rent-image-container img {
    width: 400px;
    height: 315px;
  }
}

@media (max-width: 480px) {
  .rent-image-container img {
    width: 288px;
    height: 228px;
    padding: 25px;
  }
}
/*# sourceMappingURL=style.css.map */