* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

span {
  cursor: default;
}

.header-container-top {
  background-color: #1b1b1b;
}

.header-container-top .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container-top .header-container .page-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.header-container-top .header-container .page-logo .page-logo-image {
  height: 60px;
  width: 60px;
  background-color: #df3636;
  margin-right: 10px;
}

.header-container-top .header-container .page-logo h1.page-logo-text {
  font-size: 42px;
  letter-spacing: 1px;
  color: #fefefe;
  font-family: "Oswald";
  cursor: default;
}

.header-container-top .header-container .header-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  color: #fefefe;
}

.header-container-top .header-container .header-info-container .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-top .header-container .header-info-container i {
  font-size: 32px;
  margin-right: 20px;
  color: #df3636;
}

.header-container-top .header-container .header-info-container span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fefefe;
  font-family: "Open Sans";
  font-weight: 400;
}

.header-container-top .header-container .header-info-container span.call-left {
  color: #df3636;
}

.header-container-bottom {
  background-color: #282828;
  border-top: 1px solid #333;
}

.header-container-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-bottom ul li {
  list-style: none;
  padding: 25px 60px 25px 0;
}

.header-container-bottom ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #fefefe;
  font-family: "Open Sans";
  text-decoration: none;
}

.menu-active {
  color: #df3636;
}

.banner-area {
  height: 865px;
  background-image: url("../image/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
}

.banner-area .hero-banner-text-container {
  position: relative;
  width: 45%;
  padding-top: 150px;
}

.banner-area .hero-banner-text-container .hero-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-product-name {
  font-size: 53px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Oswald";
  font-weight: 700;
}

.banner-area .hero-banner-text-container .hero-banner-text span {
  font-size: 53px;
  letter-spacing: 2px;
  color: #f63636;
  font-family: "Oswald";
  font-weight: 700;
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-text-description {
  padding: 0 200px 20px 0;
}

.banner-area .hero-banner-text-container .hero-banner-text .hero-banner-text-description span {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Oswald";
  font-weight: 400;
}

.hero-banner-btn,
.products-btn {
  height: 50px;
  width: 150px;
  background-color: #df3636;
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  border-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-title .section-title-wrap {
  padding: 50px 0;
}

.row-title .section-title-wrap h2 {
  font-size: 32px;
  color: #232323;
  font-family: "Oswald";
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
}

.row-title .section-title-wrap h3 {
  font-size: 18px;
  letter-spacing: 7px;
  color: #737373;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
}

.products-btn a {
  color: #ffffff;
  text-decoration: none;
}

.box-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.box-products .product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 270px;
  height: 195px;
  background-color: #e9e9e9;
}

.box-products .product-image .product-image-price {
  font-size: 20px;
  color: #ffffff;
  height: 47px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-left: 0px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 47px solid #df3636;
}

.box-products .product-image .product-image-price span {
  line-height: 47px;
  padding-left: 20px;
}

.box-products .product-title {
  font-size: 14px;
  color: #1d1d1d;
  padding: 20px 0;
}
/*# sourceMappingURL=style.css.map */