.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 20%;

  h3 {
    line-height: 36px;
    color: #3e3e3e;
    font-family: "Oswald";
    font-weight: 700;
  }

  p {
    font-size: 14px;
    color: #a1a1a1;
    line-height: 24px;
  }

  a {
    font-family: 'Oswald', sans-serif;
    color: $red;
    font-size: 24px;
    font-weight: bold;
  }

  i {
    font-size: 32px;
    margin-right: 20px;
    color: $red;
  }

  @media(max-width: 1024px) {
    margin: 0 10%;
  }

  @media(max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5%;

    div {
      width: 45%;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
    }

    a {
      font-size: 20px;
    }

    i {
      font-size: 24px;
      margin-right: 10px;
    }
  }

  @media(max-width: 480px) {
    h3 {
      font-size: 16px;
    }

    p {
      font-size: 10px;
      line-height: 14px;
    }

    a {
      font-size: 18px;
    }

    i {
      font-size: 20px;
    }
  }
}