.footer-container {
  width: 100%;
  background-color: #040404;

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    font-size: 14px;

    @media(max-width: 1280px) {
      justify-content: center;
      font-size: 12px;
    }

    @media(max-width: 640px) {
      font-size: 10px;
    }

    span {
      color: #ffffff;

      span {
        color: $red;
      }
    }

    ul {
      @media(max-width: 1024px) {
        display: none
      }

      li {
        padding-left: 50px;

        a {
          color: #ffffff;
          text-transform: lowercase;
          transition: .2s;
        }

        .menu-active {
          color: $red;
        }

        a:hover {
          color: $red;
        }
      }
    }
  }
}