.footer-container {
  width: 100%;
  background-color: #040404;

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    font-size: 14px;

    span {
      color: #ffffff;

      span {
        color: $red;
      }
    }

    ul {
      li {
        padding-left: 50px;

        a {
          color: #ffffff;
          text-transform: lowercase;
          transition: .2s;
        }

        .menu-active {
          color: $red;
        }

        a:hover {
          color: $red;
        }
      }
    }

    @media(max-width: 1023px) {
      ul {
        display: none
      }
    }
  }

  @media(max-width: 1023px) {
    .footer-content {
      justify-content: center;
    }
  }
}