// font-family: 'Oswald', sans-serif;
// font-family: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans";
}

body {
  margin: 0 auto;
  cursor: default;
  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: 980px
  }

  @media (max-width: 1024px) {
    width: 720px
  }

  @media (max-width: 768px) {
    width: 630px;
  }

  @media (max-width: 640px) {
    width: 410px;
  }

  @media (max-width: 480px) {
    width: 320px;
  }
}

.d-flex-row {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

//Buttons

.hero-banner-btn,
.products-btn {
  height: 50px;
  width: 150px;
  background-color: $red;
  color: $white;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  border-style: none;
  text-transform: capitalize;
  cursor: pointer;

  @media(max-width: 1024px) {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }

  @media(max-width: 640px) {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}

.back-btn,
.nav-right-btn,
.nav-left-btn {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: rgba(223, 54, 54, .8);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-style: none;
  cursor: pointer;
  z-index: 3;

  @media(max-width:640px) {
    height: 30px;
    width: 30px;
  }
}

.back-btn {
  bottom: 10%;
  right: 2%;
}

.nav-right-btn {

  bottom: 50%;
  bottom: 30%;
  right: 2%;
}

.nav-left-btn {
  bottom: 50%;
  bottom: 30%;
  left: 2%;
}