.header-container-top {
  background-color: #1b1b1b;


  .header-container {
    display: flex;
    justify-content: space-between;


    .page-logo {
      display: flex;
      align-items: center;
      padding: 45px 0;

      .page-logo-image {
        height: 60px;
        width: 160px;
        background-color: $red;
        margin-right: 10px;
      }

      h1.page-logo-text {
        font-size: 36px;
        letter-spacing: 1px;
        color: #fefefe;
        font-family: "Oswald";
      }

      @media(max-width: 1279px) {
        h1.page-logo-text {
          font-size: 30px;
        }
      }

      @media(max-width: 1023px) {
        h1.page-logo-text {
          font-size: 24px;
        }
      }
    }

    @media(max-width: 1279px) {
      .page-logo {
        padding: 20px;
      }
    }

    .header-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 50%;
      color: #fefefe;

      i {
        font-size: 32px;
        margin-right: 20px;
        color: $red;
      }

      span {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #fefefe;
        font-weight: 400;
      }

      a {
        font-family: 'Oswald', sans-serif;
        color: $red;
        font-size: 24px;
        font-weight: bold;
      }

      @media(max-width: 1279px) {
        i {
          font-size: 20px;
        }

        span {
          font-size: 12px;
        }

        a {
          font-size: 22px;
        }
      }
    }
  }
}

.header-container-bottom {
  background-color: $navColor;
  border-top: 1px solid #333;

  ul {

    li {
      padding: 25px 60px 25px 0px;

      a {
        font-size: 14px;
        color: #fefefe;
        transition: .2s;
      }

      .menu-active {
        color: $red;
      }
    }

    .li-primary:hover>a {
      color: $red;
    }
  }
}