.header-container-top {
  background-color: #1b1b1b;
  height: 150px;

  .header-container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-logo {
      display: flex;
      align-items: center;
      padding: 45px 0;

      .page-logo-image {
        height: 60px;
        width: 160px;
        background-color: $red;
        margin-right: 10px;
      }

      h1.page-logo-text {
        font-size: 36px;
        letter-spacing: 1px;
        color: #fefefe;
        font-family: "Oswald";

        @media(max-width: 1280px) {
          font-size: 30px;
        }

        @media(max-width: 1024px) {
          font-size: 20px;
        }
      }
    }

    .header-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
      color: #fefefe;

      i {
        font-size: 28px;
        color: $red;
      }

      .fb-item,
      .olx-item {
        margin-right: 20px;
      }

      span {
        font-size: 14px;
        color: #fefefe;
        margin: 0 20px;
      }

      a {
        font-family: 'Oswald', sans-serif;
        color: $red;
        font-size: 24px;
        font-weight: bold;
      }

      @media(max-width: 1280px) {
        i {
          font-size: 20px;
        }

        span {
          font-size: 12px;
        }

        a {
          font-size: 20px;
        }
      }

      @media(max-width: 1024px) {
        div:nth-child(1) {
          display: none;
        }
      }
    }

    .hamburger-item {
      display: none;
      color: $red;
      font-size: 30px;
      cursor: pointer;
      transition: .3s;

      @media(max-width: 1024px) {
        display: block;
      }
    }

    .hamburger-item:hover {
      filter: drop-shadow(0 0 14px $red);
      color: $white;
    }
  }
}

.header-container-bottom {
  background-color: $navColor;
  border-top: 1px solid #333;
  transition: .5s;

  ul {

    li {
      padding: 25px 50px 25px 0px;

      a {
        font-size: 14px;
        color: #fefefe;
        transition: .2s;

        @media(max-width: 1280px) {
          font-size: 12px;
        }
      }

      .menu-active {
        color: $red;
      }
    }

    .li-primary:hover>a {
      color: $red;
    }
  }

  @media(max-width: 1024px) {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    z-index: 4;
    filter: opacity(.95);

    ul {
      position: absolute;
      flex-direction: column;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      li {
        text-align: center;
        padding-right: 0;
      }
    }
  }
}

.active {
  left: 0;
}