.banner-area {
  height: 865px;
  // background-color: #000;
  background-image: url("../image/65000.jpg");
  background-position: center;
  background-size: cover;
  text-transform: uppercase;

  .hero-banner-text-container {
    position: relative;
    width: 45%;
    padding-top: 150px;

    .hero-banner-text {
      display: flex;
      flex-direction: column;

      .hero-banner-product-name {
        font-size: 53px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: "Oswald";
        font-weight: 700;
      }

      span {
        font-size: 53px;
        letter-spacing: 2px;
        color: #f63636;
        font-family: "Oswald";
        font-weight: 700;
      }

      .hero-banner-text-description {
        padding: 0 200px 20px 0;

        span {
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 24px;
          color: #ffffff;
          font-family: "Oswald";
          font-weight: 400;
        }
      }
    }

    .hero-banner-btn {
      height: 50px;
      width: 150px;
      background-color: #df3636;
      font-size: 14px;
      color: #ffffff;
      font-family: "Open Sans";
      font-weight: 700;
      text-align: center;
      border-style: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}