.banner-area {
  height: 865px;
  background-image: url("../image/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  text-transform: uppercase;

  .hero-banner-text-container {
    position: relative;
    width: 45%;
    padding-top: 150px;

    .hero-banner-text {
      display: flex;
      flex-direction: column;

      .hero-banner-product-name {
        font-size: 53px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: "Oswald";
        font-weight: 700;
      }

      span {
        font-size: 53px;
        letter-spacing: 2px;
        color: #f63636;
        font-family: "Oswald";
        font-weight: 700;
      }

      .hero-banner-text-description {
        padding: 0 200px 20px 0;

        span {
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 24px;
          color: #ffffff;
          font-family: "Oswald";
          font-weight: 400;
        }
      }
    }
  }
}

.hero-banner-btn,
.products-btn {
  height: 50px;
  width: 150px;
  background-color: #df3636;
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  border-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

// SECTIONS

.row-title {
  display: flex;
  justify-content: center;

  .section-title-wrap {
    padding: 50px 0;

    h2 {
      font-size: 32px;
      color: #232323;
      font-family: "Oswald";
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 0;
      text-align: center;
    }

    h3 {
      font-size: 18px;
      letter-spacing: 7px;
      color: #737373;
      font-family: "Open Sans";
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
}

// ARTICLE - PRODUCTS



.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  .products-btn {
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .box-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;


    .product-image {
      display: flex;
      align-items: flex-end;
      width: 270px;
      height: 195px;
      background-color: #e9e9e9;

      .product-image-price {
        font-size: 20px;
        color: #ffffff;
        height: 47px;
        flex-basis: 100%;
        border-left: 0px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 47px solid #df3636;

        span {
          line-height: 47px;
          padding-left: 20px;
        }
      }
    }
  }

  .product-title {
    font-size: 14px;
    color: #1d1d1d;
    padding: 20px 0;
  }
}

// SECTION 2

.s2 {
  background-color: #1a1a1a;

  h2.section-dark-h2 {
    color: #ffffff;
  }

  h3.section-dark-h3 {
    color: #a4a2a2;
  }

  .box-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 762px;
    background-color: #1a1a1a;

    .box-specials {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      height: 100%;
      background-color: #292929;

      color: #ffffff;
      font-family: "Oswald";
      font-weight: 700;
      text-transform: uppercase;

      .inner-box-specials {
        width: 341px;
        height: 164px;
        background-color: #df3636;
      }

      h3 {
        font-size: 47px;
        letter-spacing: 1px;
        padding: 20px 0 0 20px;
      }

      p {
        font-size: 31px;
        letter-spacing: 1px;
        color: #fae44d;
        padding: 0 0 20px 20px;
      }

      span {
        font-size: 114px;
        letter-spacing: 3px;
        padding-left: 20px;
      }
    }

    .box-right {
      display: flex;
      justify-content: flex-end;
      background-color: #111111;
    }

  }
}